/*620109753 R.Reid*/

.navbar-custom{
  background-color: #4169E1; /*Royal Blue*/
}

.navbar-brand{
  color: #F5FFFA; /*Mint Cream*/
  font-weight: bold;
}

.nav-link{
  color: #F5FFFA; /*Mint Cream*/
  font-weight: bolder;
}

/*.nav-item{
 border-right: 1px solid #F5FFFA; /*Mint Cream*/
/*}

.nav-item:last-child{
 border-right: none;
}
*/
.home_img{
  width: 20px;
  height: auto;
}

.about_img{
  width: 20px;
  height: auto;
}

.profiles_img{
  width: 20px;
  height: auto;
}

.profile_icon_img{
  width: 20px;
  height: auto;
}

.location_img{
  width: 12px;
  height: auto;
}

.user_img{
  width: 12px;
  height: auto;
}

a:hover{
  color: #FFD700; /*Gold*/
}

.custom-toggler.navbar-toggler {
  border-color: #F5FFFA; /*Mint Cream*/
  background-color: #F5FFFA; /*Mint Cream*/;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-5 1 42 25' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/*Navbar CSS above*/

main{
  background-color: #F5FFFA;
}

.form_container{
  height: auto;
  width: 70%;
  border: solid;
  border-radius: 25px;
  border-color: #B0E0E6;
  background-color: #B0E0E6;
  padding-left: 10%;
  padding-top: 20px;
}

.add_form{
  height: auto;
  width: 85%;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: Georgia, serif;
}

body {
    padding-top: 5rem;
    background-color: #F5FFFA;
}

form{
    padding-left: 25%; 
}

.upperContainerUsers{
  background-color: #F5FFFA;
  height: auto;
  width: auto;
  padding-left: 20%;
}

.upperContainer{
  background-color: #F5FFFA;
  height: 301px;
  width: auto;
  padding-left: 20%;
}

.lowerContainer{
  background-color: #F5FFFA;
  height: 501px;
  width: auto;
  padding-left: 20%;
}

.viewBox1{
  background-color: #191970;
  height: 300px;
  width: 50%;
  border: 2px;
  border-style: solid;
  border-color: blue;
}

.viewBox2{
  background-color: #9370DB;
  height: 100px;
  width: 50%;
  border: .5px;
}

.viewBox21{  /*Post, Follwers and Following super class*/
  background-color: #9370DB;
  height: 200px;
  width: 50%;
  color: #191970;
  padding-top: 2.5%;

}

.viewBox22{
  background-color: #9370DB;
  height: 100px;
  width: 50%;
}

/*Main container for profile users*/
.viewBoxUsers{
  background-color: #B0E0E6 /*Powder Blue*/;
  height: 120px;
  width: 75%;
  display: flex;
  flex-direction: row;
}


.viewBoxUsers2{
  display: flex;
  height: 120px;
  width: 200px;
  align-items: center;
  justify-content: center;
}


.viewBoxUsers3{
  height: 100px;
  width: 150px;
  margin-top: 20px;
}


.viewBoxUsers4{
  display: flex;
  height: 120px;
  width: 300px;
  align-items: center;
  justify-content: center;
}


.nameBoxUsers{
  height: 30px;
  width: 150px;
}


.nameBoxUsers2{
  height: 30px;
  width: 150px;
  color: #4169E1; /*Royal Blue*/
}


.nameBoxUsers3{
  height: 30px;
  width: 150px;
  color: #4169E1; /*Royal Blue*/
}


 h1.name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 2%;
  text-align: center;
  color: #F5FFFA;
 }

 p.info{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  padding-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
  color: #191970;
 }

.profile_img{
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 125px;
  width: 125px;
  justify-content: center;
  border-radius: 50%;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
  color: #F5FFFA;
}

.button{
  background-color: #FFD700;
  color: #DAA520;
  font-weight: bold;
  border-color: #DAA520;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  margin-left: 80%;
  margin-top: 5%;
}

table,th,td{
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: center;
}

.profile_user_pic{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
