{% extends "base.html" %}

{% block main %}
<form  action = "" class = add_Profile(form) enctype="multipart/form-data" method = "POST">
  {{form.csrf_token}}
  <div class = "form_container">
      <div class = "add_form">
        {{form.Firstname.label}} </br> {{form.Firstname(class = "form-control", size = 75 )}}</br>
        {{form.Lastname.label}} </br> {{form.Lastname(class = "form-control", size = 75)}}</br>
        {{form.Gender.label}} {{form.Gender(class = "form-control")}}</br>
        {{form.Email.label}} </br> {{form.Email(class = "form-control", size = 75, placeholder = "e.g example@mail.com")}}</br>
        {{form.Location.label}} </br> {{form.Location(class = "form-control")}}</br>
        {{form.Biography.label}} </br> {{form.Biography(class = "form-control")}}</br>
        {{form.Photo(class = "form-control")}} </br>
        <p><button type= "Submit" value = "Submit" class = "btn btn-primary">Add User</button></p>
      </div>
  </div>
</form>
{% endblock %}
