{% extends "base.html" %}

{% block main %}

<div class = "upperContainerUsers">
  {% if users %}
    {% for my_users in users %}
    <div class = "viewBoxUsers">
      <div class = "viewBoxUsers2">
        <img src ="{{url_for('static', filename ='uploads/' + my_users.filename)}}" class = "profile_user_pic">
      </div>
      <div class = "viewBoxUsers3">
        <div class = "nameBoxUsers">
          <p><strong>{{my_users.firstname}} {{my_users.lastname}}</strong></p>
        </div>
        <div class = "nameBoxUsers2">
          <p><img src = "/static/user.png" class = user_img></a> <strong>{{my_users.gender}}</strong></p>
        </div>
        <div class = "nameBoxUsers3">
          <p><img src = "/static/location.png" class = location_img></a> <strong>{{my_users.location}}</strong></p>
        </div>
      </div>
      <div class = "viewBoxUsers4">
        <a class = "btn btn-primary" href = "{{url_for('profile')}}">View Profile</a>
      </div>
    </div>
  </br>
    {% endfor %}
    {% else %}
    <p>There are currently no users</p>
    {% endif %}
</div>
{% endblock%}

{% block css %}

{% endblock%}
